.images {
    column-gap: 5ch;
    display: grid;
    grid-template-columns: 2fr fr;
    margin: 0 auto;
    max-width: 110ch;
    padding: 0 2ch;
}

.images header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.images header p {
    font-size: 2rem;
    text-align: center;
}

.images header p a {
    padding: 1rem 2rem;
}

.images footer {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}