.targetSize {
    background: black;
    color: white;
}

.targetSize ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.targetSize ul li a {
    border: 2px solid transparent;
    border-radius: 12px;
    display: flex;
    outline: none;
}

.targetSize ul li a:focus,
.targetSize ul li a:hover,
.targetSize ul li a:active {
    border-color: white;
}

.targetSize ul li a:active {
    background-color: #555;
}