.semanticSections {
    column-gap: 5ch;
    display: grid;
    grid-template-columns: 2fr fr;
    margin: 0 auto;
    max-width: 110ch;
    padding: 0 2ch;
}

.semanticSections .top {
    grid-column-start: 1;
    grid-column-end: 3;
}

.semanticSections .top p {
    font-size: 2rem;
    text-align: center;
}

.semanticSections .top p a {
    padding: 1rem 2rem;
}

.semanticSections .links {
    grid-column-start: 1;
    grid-column-end: 3;
}

.semanticSections .links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    text-align: center;
}

.semanticSections .links ul li a {
    white-space: nowrap;
}

.semanticSections .bottom {
    grid-column-start: 1;
    grid-column-end: 3;
}