.forms {
    column-gap: 5ch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 110ch;
    padding: 0 2ch;
}

.forms h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}